# PHP项目 文件夹
SOURCE_DIR=./www

#
# 容器运行数据文件夹
#
DATA_DIR=./data

#
#ALPINE
#
ALPINE_VERSION=3.12

#
# 容器时区
#
TZ=Asia/Shanghai

#
# Container package fetch url
#
# Can be empty, followings or others:
# mirrors.163.com
# mirrors.aliyun.com
# mirrors.ustc.edu.cn
# dl-cdn.alpinelinux.org
#
CONTAINER_PACKAGE_URL=mirrors.aliyun.com

#
# Nginx 配置
#
NGINX_VERSION=1.19.1-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./service/nginx/conf.d
NGINX_CONF_FILE=./service/nginx/nginx.conf
NGINX_FASTCGI_PHP_CONF=./service/nginx/fastcgi-php.conf
NGINX_FASTCGI_PARAMS=./service/nginx/fastcgi_params
NGINX_SSL_CERTIFICATE_DIR=./service/nginx/ssl
NGINX_LOG_DIR=./log/nginx
# 可以安装的nginx插件: certbot
NGINX_INSTALL_APPS=

# PHP 配置
# PHP 扩展列表:
#
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,intl,bz2,soap,xsl,xmlrpc,wddx,curl,readline,snmp,pspell,
# recode,tidy,gmp,imap,ldap,imagick,sqlsrv,mcrypt,opcache,
# redis,memcached,xdebug,swoole,pdo_sqlsrv,sodium,yaf,mysql,
# amqp,mongodb,event,rar,ast,yac,yar,yaconf,msgpack,igbinary,
# seaslog,varnish,xhprof,xlswriter,memcache,rdkafka,zookeeper,
# psr,phalcon,sdebug,ssh2,yaml,protobuf,hprose
#
# 不安装扩展设置为空,
# 安装扩展则如下配置:
# PHP_EXTENSIONS=pdo_mysql,mysqli,gd,curl,opcache
#
PHP_VERSION=7.3.15
PHP_PHP_CONF_FILE=./service/php/php.ini
PHP_FPM_CONF_FILE=./service/php/php-fpm.conf
PHP_LOG_DIR=./log/php
PHP_EXTENSIONS=pdo_mysql,mysqli,mbstring,swoole,gd,curl,opcache,zip,sdebug,ssh2,bcmath,mcrypt,gd,redis,mbstring,intl,xsl,curl
PHP_SWOFT_RUN_PORT=9002
PHP_HYPERF_RUN_PORT=9001

# 容器时间
CONTAINER_TIMEZONE=Asia/Shanghai

#
# MySQL8
#
MYSQL_VERSION=8.0.13
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_CONF_FILE=./service/mysql/mysql.cnf
